

h2{
    font-size: 24px;
    margin-bottom: 10px;
}

.skill{
    background-color: black;
    border:1px solid rgb(255, 254, 254);
    box-shadow: 1px 10px 20px rgba(37, 37, 37, 0.363);
    padding:20px;
    width: 500px;
    color: white;
    
    position: absolute; 
    top: 50%; 
    left: 50%;
    margin-top: -50px;
    margin-left: -250px;
    float: left;
    padding:30px o;
    ul{
        padding-top: 30px;
        & > li {
            margin-bottom: 50px;
            background: #dedede;
            height: 6px;
            & em{
                font-size: 18px;
                position:relative;
                top:-30px;
            }
            & span{
                height: inherit;
                background-color: #94c245;
                background:linear-gradient(90deg,#76b82a,#aecd60) ;
                position: absolute;
            }
        }
    }
    .html5{
        width: 70%;
        animation: html5 2s ease-in-out;
    }
    .js{
        width: 60%;
        animation: js 2s ease-in-out;
    }
}

@keyframes html5{
    0% {width: 0px;}
    100% {width: 70px;}
}

@keyframes js{
    0% {width: 0px;}
    100% {width: 60px;}
}